snippet for
	<% for ${1:obj} in ${2:collection} %>
		${3}
	<% end %>
snippet if
	<% if ${1:condition} %>
		${2}
	<% end %>
snippet ife
	<% if ${1:condition} %>
		${2}
	<% else %>
		${3}
	<% end %>
snippet each
	<% ${1:collection}.each do |${2:obj}|
		${3}
	<% end %>
snippet blc
	<% ${1} %>
		${2}
	<% end %>
snippet conf
	<% content_for :${1:block} do %>
		${2}
	<% end %>
